{% extends 'accounts/base.html' %}
{% load static %}

{% block content %}
<div style="display: flex; justify-content:center; align-items: center;">
	<div>
		<h3 class="login-title">Enter new password</h3>

		<p style="font-weight: 300; color: white; padding: 30px; text-align: center;"
			>Please enter your new password twice so we can verify you typed it in correctly.</p>

		<form method="post" class="login-form" style="width:60% ;">

			<img src="{% static 'img/Hub_logo.png' %}" alt="" srcset="" class="login-img">
			<div class="form-inner">
			{% csrf_token %}

			<div class="input-group">
				{{form.new_password1}}
			</div>

			<div class="input-group">
				{{form.new_password2}}
			</div>
		
			<input type="Submit" name="Update Password" class="btn btn-submit">
			</div>

		</form>
	</div>
</div>


<script>
	var form_fields = document.getElementsByTagName('input')
	form_fields[1].placeholder='Enter New password';
	form_fields[2].placeholder='Confirm New Password';
  
  
	for (var field in form_fields){	
	form_fields[field].className += ' form-control'
	}
  </script>

{% endblock content %}