{% extends 'accounts/base.html' %}
{% load static %}

{% block content %}

<p class="login-title">Password Reset</p>

<p class="sub-text" style="font-weight: 300;
color: white;
padding: 30px;
text-align: center;">Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

<form method="post" class="login-form">

    <img src="{% static 'img/Hub_logo.png' %}" alt="" srcset="" class="login-img">

    <div class="form-inner">
        {% csrf_token %}
        <div class="input-group">
            {{form.email}}
        </div>
        <input type="Submit" name="Send email" class="btn btn-submit">
    </div>

    <script>
        var form_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder='Email';
      
      
        for (var field in form_fields){	
        form_fields[field].className += ' form-control'
        }
      </script>
	
</form>

{% endblock content %}